<!doctype html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=description content="Sistema de login">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css" />
    <title>Cadastro de usuários</title>
</head>
<body>

<h1>Cadastro de usuários</h1>

<form method="post">

{% csrf_token %}

{{ form.as_p }}

<input type="submit" value="Cadastrar" />

</form>

</body>
</html>