<html>
<head>
    <meta charset=utf-8>
    <meta name=description content="Sistema de login">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css" />	
	<title>Tela principal da aplicação</title>
</head>
<body>

	<h1>Esse conteúdo só será mostrado se o usuário estiver logado!</h1>

	<a href="/cadastro/">Cadastrar novo usuário</a>

</body>
</html>